option_settings:
    "aws:autoscaling:launchconfiguration":
        InstanceType: "t2.micro"
    "aws:elasticbeanstalk:container:php:phpini":
        display_errors: "On"
    "aws:elasticbeanstalk:xray":
        XRayEnabled: true
#    "aws:rds:dbinstance":
#        DBAllocatedStorage: 5
#        DBDeletionPolicy: Delete
#        DBEngine: mysql
#        DBEngineVersion: 5.5
#        DBInstanceClass: db.t2.micro
#        DBPassword: root
#        DBUser: ebroot
#        MultiAZDatabase: false