option_settings:
    "aws:autoscaling:launchconfiguration":
        InstanceType: "t2.micro"
    "aws:elasticbeanstalk:container:php:phpini":
        display_errors: "On"
    "aws:elasticbeanstalk:xray":
        XRayEnabled: true
    AWSEBAutoScalingGroup.aws:autoscaling:asg:
        MinSize: '3'
    "aws:autoscaling:launchconfiguration":
        IamInstanceProfile: revision-beanstalk-ip
    "aws:rds:dbinstance":
        DBAllocatedStorage: 5
        DBDeletionPolicy: Delete
        DBEngine: mysql
        DBInstanceClass: db.t2.micro
        DBPassword: password
        DBUser: ebroot
        MultiAZDatabase: false
    aws:elb:policies:
        ConnectionDrainingEnabled: false
    aws:elasticbeanstalk:command:
        BatchSize: '80'
        BatchSizeType: Percentage
        DeploymentPolicy: AllAtOnce # AllAtOnce | Rolling | Immutable | RollingWithAdditionalBatch
        IgnoreHealthCheck: 'false'
        Timeout: '600'
    aws:autoscaling:updatepolicy:rollingupdate:
        MaxBatchSize: 3